@use './vars' as *;
@use 'sass:color';

.faq-page {
    .contact-box {
        .accordion-item {
            .accordion-header {
                margin: 0;
                border: none;
                background-color: #f4e7c5;

                button {
                    background-color: $brown-100;
                    box-shadow: none;
                    border: 1px solid $brown-300;
                    color: $brown-800;
                    font-size: 20px;
                }
            }

            .accordion-body {
                background: #e8cd87;
            }

            .bi-chevron-down {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }
}
