@use './vars' as *;
@use 'sass:color';

.map-detail-container {
    height: calc(100vh - 70px);
    overflow-y: auto;
    max-width: 550px;
    position: relative;
    z-index: 1;
    background: $body-color;
    padding: 1rem;
    padding-top: 0;

    .tour-info-top {
        padding: 1.5rem;

        .para-text span {
            display: block;
        }
    }

    .sc-title {
        font-size: 42px;
        line-height: 50px;
        margin-top: 1rem;
    }

    .heading .total-counting.text-green .span-big {
        font-size: 42px;
        line-height: 42px;
    }

    figure {
        position: relative;

        img {
            display: block;
            aspect-ratio: 2.15;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &:after {
            background: #00000052;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 80px;
        }
    }

    figcaption {
        position: absolute;
        left: 1rem;
        color: $white;
        z-index: 1;
        top: 0;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tour-name {
        top: 4rem;
        text-shadow: 0px 1px 3px #979292;

        .en-text {
            font-size: 26px;
            line-height: 30px;
        }

        .jp-text {
            font-size: 12px;
            font-weight: bold;
        }
    }

    .tour-information-wrap {
        background: #fff7e2;
        padding: 1rem;
    }

    .tour-description {
        position: relative;
        padding-bottom: 0.5rem;
        .tour-information {
            column-gap: 2rem;
        }

        .tour-des-title {
            border-bottom: 3px solid $themeColor;
            padding-bottom: 0.75rem;
            margin-bottom: 1rem;
        }

        .view-more-btn {
            position: absolute;
            bottom: 0;
            right: -1rem;
            background: $chocolate;
        }
    }

    .tour-box {
        div.d-flex {
            margin-bottom: 0.75rem;
        }

        .lt-span {
            font-size: 12px;
            min-width: 30px;

            img {
                width: 20px;
            }

            svg {
                width: 20px;
                min-width: 20px;

                path {
                    fill: $themeColor !important;
                    stroke-width: 0 !important;
                }
            }
        }

        .rt-span {
            font-size: 13px;
            font-weight: 600;
        }

        span {
            display: inline-block;
        }
    }

    .tour-title {
        font-size: 28px;
    }

    .tour-detail-btn {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        z-index: 1;
    }
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 680.98px) {
    .map-container {
        position: relative;

        iframe {
            min-height: 300px;
        }
    }
}
