@use './vars' as *;
@use 'sass:color';

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: initial !important;
    }
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $fontJP;
    font-size: $size;
    color: $themeColor;
    background: $body-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
    font-size: $size;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* custom scrollbar  */

::-webkit-scrollbar {
    width: 6px !important;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
    // -webkit-border-radius: 4px !important;
    // border-radius: 4px !important;
    height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    background: $dark !important;
    // -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5) !important;
    height: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $dark !important;
    height: 6px;
}

a,
button {
    cursor: pointer;
    transition: all ease 0.5s;
    word-break: break-word;
    word-wrap: break-word;

    &:hover {
        opacity: 0.8;
        text-decoration: none;
    }
}

section {
    clear: both;
}

pre {
    white-space: break-spaces;
}

form {
    .form-control,
    .form-select {
        min-height: 50px;
        border-color: $chocolate;
    }

    .form-label {
        font-weight: 600;
        margin-bottom: 0;
    }
}

.form-control,
.form-select {
    min-height: 50px;
    border-color: $chocolate;
}

.form-label {
    font-weight: 600;
    margin-bottom: 0;
}

textarea {
    resize: none;
}

.modal-content {
    background: $body-color !important;

    .action-buttons a {
        font-size: 14px;
        min-height: 36px;
        max-width: 160px;
    }

    .btn-cancel {
        background: $red;
    }
}

p {
    word-break: break-word;
    word-wrap: break-word;
}

.para-text {
    line-height: 1.8;
    font-size: 15px;
}

.text-dark {
    color: $dark;
}

.text-green {
    color: $green;
}

//scroll to top
.scrollTo {
    line-height: 50px;
    position: fixed;
    z-index: 99;
    right: 1.5rem;
    margin: 0 auto;
    bottom: 6rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all ease 350ms;
    border-radius: 100%;
}

.topTop {
    opacity: 0;
    filter: alpha(opacity=0);

    &:hover {
        opacity: 0.8;
    }
}

.img-wrapper {
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.isBGImg {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
        visibility: hidden;
    }
}

.hamburger {
    display: none;

    .bar {
        width: 1.5rem;
        height: 3px;
        display: block;
        color: $white;
        padding: 0;
        margin: 8px 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background-color: $white;

        &:nth-child(1) {
            width: 15px;
        }

        &:nth-child(2) {
            width: 25px;
        }

        &:nth-child(3) {
            width: 35px;
        }
    }
}

.hover-effect {
    figure {
        overflow: hidden;

        img {
            object-position: center;
            object-fit: cover;
            transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}

.slick-slider {
    .slick-next,
    .slick-prev {
        z-index: 2;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}

.slick-slider {
    .slick-prev:before,
    .slick-next:before {
        content: none;
    }

    .slick-prev {
        background: url('../../../img/icons/slick-icon-prev.png');
        width: 40px;
        height: 40px;
    }

    .slick-next {
        background: url('../../../img/icons/slick-icon-next.png');
        width: 40px;
        height: 40px;
    }
}

.spacer {
    margin-top: 70px;
}

.br-pc {
    display: block;
}

.sc-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 1px;

    small {
        font-size: 18px;
    }
}

.date {
    font-size: 20px;
    font-family: 'Raleway';
    word-wrap: break-word;
}

.view-more-btn {
    color: white;
    text-decoration: none;
    font-size: 14px;
    min-height: 24px;
    min-width: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    border-radius: 25px 0 0 25px;
    font-weight: 500;

    span:after {
        content: '';
        background: $white;
        width: 20px;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
    }
}

.view-more-btn-green {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    min-height: 40px;
    width: 100%;
    max-width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    border-radius: 25px 0 0 25px;
    font-weight: 500;
    background: $green;
    text-transform: uppercase;

    span:after {
        content: '';
        background: $white;
        width: 30px;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
    }

    &.btn--sm {
        font-size: 12px;
        min-height: 25px;
        max-width: 130px;
        padding-left: 1rem;
        border-radius: 25px 0 0 25px;

        span:after {
            width: 22px;
        }
    }
}

.view-more-btn-brown {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    min-height: 40px;
    width: 100%;
    max-width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    border-radius: 25px 0 0 25px;
    font-weight: 500;
    background: $chocolate;
    text-transform: uppercase;

    span:after {
        content: '';
        background: $white;
        width: 30px;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
    }

    &.btn--sm {
        font-size: 12px;
        min-height: 25px;
        max-width: 130px;
        padding-left: 1rem;
        border-radius: 25px 0 0 25px;

        span:after {
            width: 22px;
        }
    }
}

.weather-forecast {
    z-index: 1;
    margin-top: -1.5rem;
}

.today--forecast {
    font-family: 'Raleway';
    background: $brown;
    min-height: 45px;
    width: 300px;
    color: $white;
    border-radius: 10px;
    padding-inline: 1rem;

    .day {
        font-size: 12px;
        font-weight: 800;
        border-right: 3px solid $white;
        padding-right: 1rem;
        margin-right: 1rem;
    }

    .date-time small {
        font-size: 10px;
    }

    .time {
        font-size: 18px;
    }
}

.container,
.container-fluid {
    padding-inline: 1.25rem;
}

.gslide-media.gslide-video,
.gslide-media {
    margin: auto;
}

.color-theme {
    color: $themeColor !important;
}

.bg-color-green {
    background-color: $green !important;
}

.pagination {
    width: fit-content;
    margin-inline: auto !important;
    margin-top: 56px !important;
    margin-bottom: 24px !important;
    border: 1px solid $brown-300;
    border-radius: 8px;

    .active > .page-link,
    .page-link.active {
        background-color: $brown-800;
        color: $brown-100;
        border: none;
        height: 100%;
    }

    a.page-link,
    .page-item.disabled span {
        background-color: $brown-100;
        color: $brown-800;

        &:focus {
            box-shadow: none;
        }
    }
}

.no-image .caption {
    height: 200px !important;
}

.col-lg-12 {
    clear: both;
}

.multi-data-layout {
    margin-bottom: 24px;
    &.left img {
        float: left;
        margin-right: 12px;
    }

    &.top img {
        display: block;
        margin-inline: auto;
    }

    &.right img {
        float: right;
        margin-left: 12px;
    }

    &.bottom {
        display: flex;
        flex-direction: column-reverse;

        img {
            margin: 0 auto;
        }
    }
}

.category-list-page,
.news-campaign-page {
    min-height: 80vh;
}

.search-input {
    max-width: 700px;
    width: 100%;
    margin: 20px auto 64px;

    input {
        display: block;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #d7c393;
        background-color: #fff9eb;
        color: $brown-700;
        outline: none;
        padding: 4px 20px;
        transition: 0.4s;

        &::placeholder {
            color: $brown-700 !important;
        }

        &:focus {
            border: 1px solid $themeColor;
            outline: none;
        }
    }

    .search-item {
        max-width: 50px;
        height: 48px;
        background-color: #fff9eb;
        right: 1px;
        border-radius: 4px;
        transform: translateY(-50%);

        i {
            font-size: 20px;
            color: $brown-700;
        }
    }
}

@media (max-width: 1199.98px) {
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 999;
        margin-left: 0.5rem;

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            -webkit-transform: translateY(10px) rotate(-315deg);
            transform: translateY(10px) rotate(-315deg);
            width: 35px;
        }

        &.active .bar:nth-child(3) {
            -webkit-transform: translateY(-12px) rotate(-45deg);
            transform: translateY(-12px) rotate(-45deg);
            width: 35px;
        }
    }

    .nav-menu {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 auto;

        &.active {
            right: 0;
            z-index: 100;
            transition: 0.2s ease;
            background: $chocolate;
            flex-wrap: nowrap;
            height: 100vh;
            overflow-y: auto;
            text-align: center;
            padding: 2rem 1rem;
            margin-top: 0 !important;
        }

        a {
            padding: 1rem;
            margin-top: 0 !important;
        }
    }

    .header-price {
        margin-inline: 0 !important;

        .header-price-wrap {
            font-size: 1rem;
        }

        .today-rate {
            text-align: center;
            margin-top: 1rem;
        }
    }

    .col-xxl-10,
    .col-xxl-11 {
        padding-inline: 1.75rem !important;
    }
}

@media (max-width: 1399.98px) {
    .col-xxl-10,
    .col-xxl-11 {
        padding-inline: 3rem !important;
    }

    .sc-newsletter,
    footer,
    .sc-category,
    .sc-youtube {
        .col-xxl-10 {
            padding-inline: 3rem !important;
        }
    }
}

@media (max-width: 680.98px) {
    .col-xxl-10,
    .col-xxl-11 {
        padding-inline: 1.25rem !important;
    }

    .para-text {
        font-size: 14px !important;
        line-height: 32px !important;
    }

    .weather-forecast {
        margin-top: 1rem;
    }

    .today--forecast {
        margin-inline: auto !important;
    }

    .breadcrumb {
        font-size: 12px;
    }
}
