/*COLORS*/

$black: #000000;
$red: #c4061e;
$gray: #dee2e6;
$lightGray: #f7f9fd;
$maroon: #61222f;
$greenDark: #486d19;
$blue: #47959f;

$body-color: #f4e7c5;
$body-alter-color: #ebd7a4;
$themeColor: #4c3203;
$green: #649337;
$yellow: #e1b51e;
$dark: #222222;
$white: #ffffff;
$brown: #6e562a;
$chocolate: #392501;
$pink: #da115c;
$cream: #e1d4b0;

$brown-800: #4c3203;
$brown-700: #94743a;
$brown-300: #decda6;
$brown-100: #fff4d6;
$brown-90: #fffaeb;
/*FONTS*/

$size: 1rem;
$line-height: 1.5;
$fontJP: 'Noto Sans JP', 'Raleway', 'Lora', 'Montserrat', 'Kaushan Script',
    'sans-serif' !important;

.ft-kaushan {
    font-family: 'Kaushan Script' !important;
}

.ft-montserrat {
    font-family: 'Montserrat' !important;
}

.fn-raleway {
    font-family: 'Raleway' !important;
}

.fn-lora {
    font-family: 'Lora' !important;
}

.fn-engraver {
    font-family: 'Engravers MT' !important;
}

.fn-poster {
    font-family: 'Bodoni MT Poster Compressed' !important;
}

.fn-harrington {
    font-family: 'Harrington' !important;
}

.fn-learning-curve {
    font-family: 'Learning Curve' !important;
}

.fn-imprint {
    font-family: 'Imprint MT Shadow' !important;
}

.fn-holland {
    font-family: 'Holland' !important;
}

.fn-quickpen {
    font-family: 'Quickpen' !important;
}
